<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ .Artist.Name }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">

    <div class="topbar">
        <span class="brand">Groupie&nbsp;Tracker</span>

        <div class="topbar-right">
            <button id="refresh-btn">Обновить информацию</button>
            <label class="toggle">
            <input type="checkbox" id="theme-switch">
            <span class="slider"></span>
            </label>
        </div>
    </div>

    <a href="/" class="back">← Все артисты</a>

    <h1>{{ .Artist.Name }}</h1>
    <img src="/img/{{ .Artist.Image | base }}" alt="{{ .Artist.Name }}" width="200">

    {{ $mCount := len .Artist.Members }}
    {{ if eq $mCount 1 }}
      <p><b>Полное имя:</b> {{ index .Artist.Members 0 }}</p>
    {{ else }}
      <h2>Участники</h2>
      <ul>{{range .Artist.Members}}<li>{{.}}</li>{{end}}</ul>
    {{ end }}

    <p><b>Год основания:</b> {{ .Artist.CreationDate }}</p>
    <p><b>Первый альбом:</b> {{ .Artist.FirstAlbum }}</p>

    <h2>Концерты по локациям</h2>
    {{ if .Concerts }}
      {{range .Concerts}}
        <b>{{.Location}}</b>
        <ul>{{range .Dates}}<li>{{.}}</li>{{end}}</ul>
      {{end}}
    {{ else }}<p>Нет информации о концертах</p>{{ end }}

  </div>
  <script src="/static/refresh.js"></script>
</body>
</html>
