<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Groupie Tracker</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">

    <div class="topbar">
        <span class="brand">Groupie&nbsp;Tracker</span>

        <div class="topbar-right">
            <button id="refresh-btn" class="btn">Обновить информацию</button>
            <label class="toggle">
            <input type="checkbox" id="theme-switch">
            <span class="slider"></span>
            </label>
        </div>
    </div>

    <div class="cards">
      {{range .Artists}}
        <a href="/artist/{{.ID}}" class="card">
          <img src="{{.Image}}" alt="{{.Name}}">
          <div>{{.Name}}</div>
        </a>
      {{end}}
    </div>

  </div>
  <script src="/static/refresh.js"></script>
</body>
</html>
